<template>
<div class="yi">
<Nuxt />
</div>
</template>

<style lang="scss">
    @import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'Helvetica Neue', sans-serif;
    }
    .yi {
        margin: 0 auto;
        max-width: 480px;
    }
</style>