<template>
  <div class="signup">
    <div class="container">
      <div class="signup__top">
        <img class="signup__icon" src="../static/gym-hand.svg" alt="" />
        <h1 class="signup__title">Create an accoint</h1>
        <p class="signup__text">
          We will send you an email to confirm your registration
        </p>
      </div>
    </div>
    <form class="signup__form">
      <label class="signup__label">
        <img src="../static/email.svg" alt="" class="signup__email-icon" />
        <input type="email" class="signup__input" placeholder="Your email" />
      </label>
      <label class="signup__label">
        <img src="../static/user.svg" alt="" class="signup__user-icon" />
        <input type="text" class="signup__input" placeholder="Your name" />
      </label>
      <label class="signup__label">
        <span class="signup__pwd-icon">*</span>
        <input type="password" class="signup__input" placeholder="Password" />
      </label>
      <a href="" class="signup__forgot-pwd">Forgot password?</a>
      <button class="signup__btn">Signup</button>
      <p class="signup__already">
        Already have an account?
        <a href="" class="signup__already-link">SignIn</a>
      </p>
    </form>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.signup {
  &__top {
    padding: 55px 20px;
  }

  &__icon {
    display: block;
    margin: 0 auto 25px;
  }

  &__title {
    margin: 0 0 26px;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }

  &__text {
    margin: 0;
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.04em;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 50px 34px;
    background: #fafafa;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }

  &__label {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 25px;
  }

  &__email-icon {
    top: 12px;
    left: 26px;
    position: absolute;
  }

  &__user-icon {
    top: 12px;
    left: 26px;
    position: absolute;
  }

  &__pwd-icon {
    top: 11px;
    left: 30px;
    font-size: 36px;
    position: absolute;
  }

  &__input {
    width: 100%;
    padding: 16px 26px 16px 66px;
    background: #fff;
    border-radius: 16px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);

    &::placeholder {
      color: #000;
      transition: color 0.3s ease;
    }

    &:focus {
      outline: none;
      border: 1px solid #000;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  &__forgot-pwd {
    color: #606060;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 25px;
  }

  &__btn {
    border: 0;
    margin: 0 auto;
    width: 150px;
    padding: 15px 0;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 100px;
    background: #242424;
  }

  &__already {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #606060;
  }

  &__already-link {
    color: #000;
  }
}
</style>
